body {
    height: 100vh;
    width: 100%;
    background-image: url('https://fastly.picsum.photos/id/14/2500/1667.jpg?hmac=ssQyTcZRRumHXVbQAVlXTx-MGBxm6NHWD3SryQ48G-o');
    background-size: cover;
    background-position: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 45px;
    padding-left: 10%;
    padding-right: 10%;

}

.first-header{
    color: red;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
    
}

span{
    color: black;
}